@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grass:#9acc51;
  --fire:#fba54c;
    --water:#539ddf;
    --bug:#729f3f;
    --normal:#a4acaf;
    --poison:#b97fc9;
    --electric:#eed535;
    --ground:#ab9842;
    --fairy:#fdb9e9;
    --fighting:#d56723;
    --psychic:#f366b9;
    --rock:#a38c21;
    --steel:#9eb7b8;
    --ice:#51c4e7;
    --ghost:#7b62a3;
    --dragon:#0c69c8;
    --dark:#707070;
    --flying:#a1bbec; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --grass:#9acc51;
    --fire:#fba54c;
    --water:#539ddf;
    --bug:#729f3f;
    --normal:#a4acaf;
    --poison:#b97fc9;
    --electric:#eed535;
    --ground:#ab9842;
    --fairy:#fdb9e9;
    --fighting:#d56723;
    --psychic:#f366b9;
    --rock:#a38c21;
    --steel:#9eb7b8;
    --ice:#51c4e7;
    --ghost:#7b62a3;
    --dragon:#0c69c8;
    --dark:#707070;
    --flying:#a1bbec; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
